<div class="d-flex justify-content-center align-items-center overflow-hidden landing">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="text-center">
        <h3 class="welcome">Встречайте</h3>
        <div class="logo clip-text clip-text_one text-uppercase lh-1 fw-bold mb-2">CORGRAM</div>
        <div class="text">
          Сервис для создания корролелограм. Быстро, удобно, без лищней нервотрепки!
        </div>
        <button routerLink="edit" class="button" mat-raised-button>Перейти в редактор</button>
      </div>
    </div>
  </div>
</div>

<div class="services">
  <div class="row justify-content-center text-center">
    <div class="text-center">
      <h3 class="our-service">Наши возможности</h3>
      <div class="grey-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </div>
    </div>
  </div>

  <div class="row cards-container">
    <div class="col-lg-4 col-md-6 mt-4 pt-2 card">
      <div class="logo-card">
        <i class="f-50" data-feather="circle"></i>
      </div>
      <div class="header-card">
        Title
      </div>

      <p class="text-card">
        Some quick example text to build on the card title and make up the bulk of the card's content platform.
      </p>
    </div>

    <div class="col-lg-4 col-md-6 mt-4 pt-2 card">
      <div class="logo-card">
        <i class="f-50" data-feather="circle"></i>
      </div>
      <div class="header-card">
        Title
      </div>

      <p class="text-card">
        Some quick example text to build on the card title and make up the bulk of the card's content platform.
      </p>
    </div>

    <div class="col-lg-4 col-md-6 mt-4 pt-2 card">
      <div class="logo-card">
        <i class="f-50" data-feather="circle"></i>
      </div>
      <div class="header-card">
        Title
      </div>

      <p class="text-card">
        Some quick example text to build on the card title and make up the bulk of the card's content platform.
      </p>
    </div>

    <div class="col-lg-4 col-md-6 mt-4 pt-2 card">
      <div class="logo-card">
        <i class="f-50" data-feather="circle"></i>
      </div>
      <div class="header-card">
        Title
      </div>

      <p class="text-card">
        Some quick example text to build on the card title and make up the bulk of the card's content platform.
      </p>
    </div>

    <div class="col-lg-4 col-md-6 mt-4 pt-2 card">
      <div class="logo-card">
        <i class="f-50" data-feather="circle"></i>
      </div>
      <div class="header-card">
        Title
      </div>

      <p class="text-card">
        Some quick example text to build on the card title and make up the bulk of the card's content platform.
      </p>
    </div>

    <div class="col-lg-4 col-md-6 mt-4 pt-2 card">
      <div class="logo-card">
        <i class="f-50" data-feather="circle"></i>
      </div>
      <div class="header-card">
        Title
      </div>

      <p class="text-card">
        Some quick example text to build on the card title and make up the bulk of the card's content platform.
      </p>
    </div>


  </div>
</div>
