<div class="d-flex justify-content-center align-items-center overflow-hidden landing">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="text-center">
        <h3 class="welcome">WELCOME TO</h3>
        <div class="logo clip-text clip-text_one text-uppercase lh-1 fw-bold mb-2">CORGRAM</div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque urna diam, consequat eget sem sit amet,
          pharetra elementum augue. Integer malesuada mattis est, quis dictum nibh ultrices ut. Fusce sagittis sodales
          ex, rutrum hendrerit elit faucibus id.
        </div>
        <button class="button" mat-raised-button>Перейти в редактор</button>
      </div>
    </div>
  </div>
</div>
